<% if flash[:errors] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:errors][0] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
